@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #262626;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    -webkit-tap-highlight-color: transparent;
    font-feature-settings: "palt";
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

/* Custom scrollbar */
::-webkit-scrollbar { width: 0; height: 0; }
